* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
  align-items: center;
  background: black;
  width: 100vw;
  height: 100vh;
}

body,
.item {
  display: flex;
  justify-content: center;
}

.container,
.container--two {
  display: grid;
  background-color: white;
  padding: 10px;
  gap: 20px;
  width: 700px;
}

.container {
  grid-template-rows: 33.3%;
  grid-template-columns: 50%;
  height: 420px;
}

.container--two {
  grid-template-rows: 100%;
  grid-template-columns: 33%;
  height: 280px;
}

.item {
  border: 1px solid black;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.one {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-image: url("./one.jpeg");
  color: white;
}

.two {
  background-image: url("./two.jpeg");
  grid-column-start: 2;
  grid-column-end: span ;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.three {
  grid-column-start: 3;
  grid-column-end: span 1;
  background-image: url("./three.jpeg");
}

.four {
  grid-column-start: 2;
  grid-column-end: span 1;
  background-image: url("./four.jpeg");
}

.five {
  grid-column-start: 3;
  grid-column-end: span 1;
  background-image: url("./five.jpeg");
}

.six {
  grid-column-start: 1;
  grid-column-end: span 1;
  display: grid;
  padding: 0;
  gap: 0;
}

.six__item__one {
  grid-column-start: 1;
  grid-column-end: 3;
  background: rebeccapurple;
}

.six__item__two {
  grid-column-start: 1;
  grid-column-end: 8;
  /* grid-row-start: 2;
  grid-row-end: span 1; */
  background-color: black;
}

.six__item__three {
  grid-column-start: 2;
  grid-column-end: span 1;
  /* grid-row-start: 2;
  grid-row-end: span 1; */
  background-color: aqua;
}

.seven {
  grid-column-start: 2;
  grid-column-end: span 1;
  background-image: url("./seven.jpeg");
}

.eight {
  grid-column-start: 3;
  grid-column-end: span 1;
  background-image: url("./eight.jpeg");
}

.hexagon--item {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.hexagon--item--two {
  width: 50px;
  height: 50px;
}

.one__div__two__item {
  font-size: 12px;
}
